<h1>Codeial / <%= title %></h1>

<section id="feed-posts">
  <h4>Post</h4>
  <form action="/post/create-post" id="new-post-form" method="POST">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="Type here ..."></textarea>
    <input type="submit" value="Post" />
  </form>

  <div class="posts">
    <ul>
      <% for(post of posts){ %>
      <li>
        <p id="content"><%=post.content %></p>

        <label id="date"><%=post.user.name %></label>
        <label id="user"><%=post.updatedAt%></label>
        <form action="/comment/create/?id=<%=post._id %>" method="POST">
          <input id="cmt" name="content" />
          <input type="submit" value="post" />
        </form>
      </li>
      <% } %>
    </ul>
  </div>
</section>
