<link rel="stylesheet" href="/css/user_profile.css" />
<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100px" />

<% if(user.id==user.id){%>
<form
  action="/users/update/<%=user.id %>"
  enctype="multipart/form-data"
  method="POST">
  <input
    type="text"
    name="name"
    placeholder="Your Name"
    value="<%=user.name %>"
    required />

  <input
    type="email"
    name="email"
    placeholder="Your Email"
    value="<%=user.email%>"
    required />

  <input name="avtar" type="file" placeholder="profile pictur" />
  <input type="submit" value="Update" />
</form>

<%}else{%>

<p><%= user.name %></p>
<p><%= user.email %></p>

<%} %>
